.filters{
    background-color: #eee;
    border-radius: .3rem;
    padding: .6rem;
}

.btn-filter{
    width: 7em;
    text-transform: uppercase;
    margin-right: 0;
    margin-bottom: .6rem;
}

.label-filters{
    text-transform: capitalize;
}